<!DOCTYPE html>
<html>
  <head>
    <title>Cafeteria</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if @current_user %>
      <p class="username-heading">
        Welcome <%= @current_user.name %>!
        <%= link_to "Sign Out", destroy_session_path, method: "delete" %>
      </p>
    <% end %>

    <% if flash[:error]%>
      <p class="flash">
        <%= flash[:error] %>
      </p>
    <% end %>

    <%= yield %>
  </body>
</html>
